#site-footer {
    #site-footer-main {
        background-color: theme-color('white');
        color: rgb(33,37,41);
        a:not(.btn) {
            color: rgb(33,37,41);
            &:hover {
                color:  theme-color('primary');
            }
        }
        .site-footer-alpha {
        	img {
        		width: 150px;
        	}
        }
        .site-footer-bravo {
        	.lg-social-media {
        		
        		padding-left: 0px;
        	}
        }
        .site-footer-charlie {
        	.widget-title {
        		background: none;
        		border: none;
        		color: rgb(33,37,41);
        		text-transform: capitalize;
        		padding: 0px;
        		font-family: "Montserrat", sans-serif;
        		font-weight: 400;

        	}
        	.menu {
        		list-style: none;
        		padding-left: 0px;
        	}
        }
        .site-footer-echo {
        	display: flex;
        	justify-content: center;
        	.textwidget {
        		display: flex;
        		flex-direction: column;
        		align-items: center;
                p:nth-child(2) {
                    width: 100%;
                    >a {
                        width: 100%;
                    }
                }

        	}
        }
    }
    #site-legal {
    	background-color: theme-color('white');
        color: rgb(33,37,41);
        border-top: 2px solid theme-color('secondary');
        padding-top: 12px;
        padding-bottom: 12px;
        >div {
        	a {
        		color: rgb(33,37,41);
        	}
        }    	
    }
}