.gform_wrapper {
    display: flex;
    align-items: flex-start;
    .gform_body {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        @include media-breakpoint-down(sm) {
            justify-content: flex-start;
            flex-wrap: wrap;
            .left-fields {
                width: 100%;
            }
        }

        input[type="text"] {
            width: 100% !important;
            max-width: 100%;
        }

        input[type="tel"] {
            width: 100% !important;
            max-width: 100%;
        }

        input[type="email"] {
            width: 100% !important;
            max-width: 100%;
        }

        #input_1_1 {
            margin-top: 0px;
        }

        #input_1_4 {
            height: 169px;
        }
    }
    .gform_footer {
        margin-top: 0px !important;
    }
    input[type="submit"] {
        margin-left: 16px !important;
    }
    @include media-breakpoint-down(sm) {
        input[type="submit"] {
            margin-left: 0px !important;
        }
    }
}
