#site-header {
	transition: top .1s linear;
	.utility-bar {
		background-color: theme-color('secondary');
		color: 	black;
		a, i {
			color: 	rgb(32,32,32);
			&:hover {
				color: theme-color('primary');
			}
		}
		.left {
			>p {
				margin-right: -24px;
			}

		}
		.right {
			align-items: baseline;
			a {
				text-decoration: 	underline;
			}
			i {
				font-size: 1rem;
			}
		}
	}
}
#site-header {
.header-main {
	.site-branding {
		.logo {
			width: 125px;
			@include media-breakpoint-down(sm) {
				width: 	75px;
			}
		}

	}
	.book-button{
		padding-right: 40px;
		@media screen and (max-width: 1082px) {
			display: 	none !important;
		}
	}
	.main-navigation {
		.nav-link {
			&:hover {
				color: 	theme-color('primary');
			}
		}
	}
}
}

.home-banner{
		height: 	500px;
		>div {
			min-height: 500px;
			@include media-breakpoint-down(sm) {
				min-height: 500px;
			}
		}
		
}

.top-banner{
	position: relative;
	img{
		width: 100%;
		object-fit: cover;
	}
	.gallery{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: -1;
		>div{
			width: 100%;
			height: 100%;
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.overlay{
		position: relative;
		display: flex;
		justify-content: center;

		>div{
			width: 100%;
			max-width: 80%;
			min-height: 200px;
			padding: 50px;
			//background-color: rgba(255 ,255 ,255 , .5);
			display: flex;
			justify-content: center;
			align-items: center;
			.h1	{
				color: white;
			}
			@include media-breakpoint-up(lg) {
				min-height: 300px;
			}
			@include media-breakpoint-down(sm) {
				max-width: 	100%;
				padding: 10px;
				a {
					margin-top: 15px;
				}
			}

		}
	
		/*>div{
			@extend .container;
			background-color: rgba(255 ,255 ,255 , .7);
			padding: 50px 50px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
		}*/
	}
}

.lg-social-media-cont {
	.lg-social-media {
		font-size: 1.5em;
		list-style: none;
		display: flex;
		margin-bottom: 0px;
		padding-inline-start: 0px;
		li {
			padding-right: 15px
		}
	}
	ul {
		padding-inline-start: 0px;
	}
	
}

#site-header.scrunch {
	top: 	-80px !important;
	transition: top .3s linear;
}

.utility-hide-831 {
	@media screen and (max-width: 831px) {
			display: 	none !important;
		} 
}