.team-member {
	width: 100%;
	position: relative;
	@include media-breakpoint-down(sm) {
		padding-bottom: 15px;
	}
	.team-image {
		width: 275px;
		max-width: 100%;
	}
	.team-content {
		position: absolute;
		transition: all .5s linear;
		bottom: -12px;
		height: 0px;
		color: white;
		padding-left: 15px;
		padding-bottom: 15px;
		padding-top: 5px;
		width: calc(100% - 30px);
		max-width: 100%;
		@include media-breakpoint-down(sm) {
			height: 60px;
			bottom: 15px;
			background-color: rgba(0,179,143,.6);
			width: 275px;			
		}
		@include media-breakpoint-down(xs) {
			width: calc(100% - 30px);
		}
		


		.team-name {
			font-weight: 700;
		}
	}
	
}

.team-member.show_bio-1 {
	.team-image  {
		width: 275px;
		max-width: 100%;
	}
	.team-content-bio {
		.team-name {
			font-weight: bold;
		}
		.team-title {
			padding-bottom: 20px;
		}
		.team-bio {
			max-width: 70%;
			@include media-breakpoint-down(md) {
				max-width: 100%;
			
			}
		}

	}

}

.team-member:hover {
	.team-content {
		height: 60px;
		bottom: 0px;
		background-color: rgba(0,179,143,.6);
		@include media-breakpoint-down(sm) {
			bottom: 15px;
		}
	}
}


